<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js')

  body

    pre
      code #{JSON.stringify(locals.q, null, '  ')}
    hr
    hr

    form(method='post', autocomplete='off', novalidate).form-horizontal.create-form.profile-form
      input(type='hidden', name='type', value='gql')
      
      .row: .col-sm-8.offset-sm-2
        
        //- Query
        .form-group
          label GraphQL Query
          br
          textarea(name='query').input.input-faded= locals.gqlQ
        
        //- Submit
        .form-group
          button(type='submit', data-loading-text="Saving...").btn.btn-lg.btn-primary.btn-block Query


    pre
      - console.log(gql);
      code #{JSON.stringify(locals.gql, null, '  ')}
    hr

    form(method='post', autocomplete='off', novalidate).form-horizontal.create-form.profile-form
      input(type='hidden', name='type', value='legacy')
      
      .row: .col-sm-8.offset-sm-2
        
        //- Query
        .form-group
          label Legacy Query
          br
          textarea(name='query').input.input-faded= locals.gqlLegacy
        
        //- Submit
        .form-group
          button(type='submit', data-loading-text="Saving...").btn.btn-lg.btn-primary.btn-block Query

    pre
      code #{JSON.stringify(locals.legacy, null, '  ')}
    hr
    
    
    script.
      hljs.initHighlightingOnLoad();